### Initializing and connection to the Database

In [1]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

# Create the app reference and the connection to the Database
app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///keywords_Flask.sqlite'
app.app_context().push()

db = SQLAlchemy(app)

### Creating the table

In [2]:
class Cars(db.Model):
    __tablename__ = 'Cars'
    # Aquí definimos el nombre de la tabla 'Person'
    # Ten en cuenta que cada columna es también un atributo normal de primera instancia de Python.
    id = db.Column(db.Integer, primary_key = True)
    model = db.Column(db.String(250), nullable = False)
    cv = db.Column(db.Integer, nullable = False)

    def __init__(self, id, model, cv):
        self.id = id
        self.model = model
        self.cv = cv

db.create_all()

### Inserting values

In [3]:
car1 = Cars(id = 1, model = "Renault Clio", cv = 95)
car2 = Cars(id = 2, model = "Tesla Model 3", cv = 390)
car3 = Cars(id = 3, model = "Fiat 500", cv = 110)
db.session.add(car1)
db.session.add(car2)
db.session.add(car3)
db.session.commit()

### Selecting records

In [4]:
# Select all rows
print("Select all rows")
query = Cars.query.all()
for row in query:
    print(f"Id = {row.id}, Model = {row.model}, CV = {row.cv}")

# Select rows based on condition, id == 2. In this case, because id is a primary key, the syntax is like the following:
print("\nSelect rows that contain id == 2")
car_selected = Cars.query.get(2)
print(f"Id = {car_selected.id}, Model = {car_selected.model}, CV = {car_selected.cv}")

Select all rows
Id = 1, Model = Renault Clio, CV = 95
Id = 2, Model = Tesla Model 3, CV = 390
Id = 3, Model = Fiat 500, CV = 110

Select rows that contain id == 2
Id = 2, Model = Tesla Model 3, CV = 390

/tmp/ipykernel_9023/1395743068.py:9: LegacyAPIWarning: The Query.get() method is considered legacy as of the 1.x series of SQLAlchemy and becomes a legacy construct in 2.0. The method is now available as Session.get() (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  car_selected = Cars.query.get(2)

### Deleting records

In [5]:
# Remove rows based on condition, id == 2
car = Cars.query.get(2)
db.session.delete(car)
db.session.commit()

# Let's check if the delete statement has worked well with a compressed select query
query = Cars.query.all()
for row in query:
    print(f"Id = {row.id}, Model = {row.model}, CV = {row.cv}")

Id = 1, Model = Renault Clio, CV = 95
Id = 3, Model = Fiat 500, CV = 110

/tmp/ipykernel_9023/1547564661.py:2: LegacyAPIWarning: The Query.get() method is considered legacy as of the 1.x series of SQLAlchemy and becomes a legacy construct in 2.0. The method is now available as Session.get() (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  car = Cars.query.get(2)

### Updating records

In [6]:
car = Cars.query.get(1)
car.cv = 100
db.session.commit()

# Let's check if the delete statement has worked well with a compressed select query
query = Cars.query.all()
for row in query:
    print(f"Id = {row.id}, Model = {row.model}, CV = {row.cv}")

Id = 1, Model = Renault Clio, CV = 100
Id = 3, Model = Fiat 500, CV = 110

/tmp/ipykernel_9023/1767879677.py:1: LegacyAPIWarning: The Query.get() method is considered legacy as of the 1.x series of SQLAlchemy and becomes a legacy construct in 2.0. The method is now available as Session.get() (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  car = Cars.query.get(1)

### Dropping tables

In [7]:
# Drop ALL tables from the Database (uncomment the following code-line to execute)
# db.drop_all()